@model IEnumerable<Task9.Models.Course>

@{
    ViewData["PageTitle"] = "Course page";
}

<p>
    <a asp-action="SeedDatabase">Fill DB</a> |
    <a asp-action="Add">Create New</a> |
    <a asp-action="Index" asp-controller="Group">To All Groups List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a> |
                    <a href="@Url.Action("GroupList", "Group", new { courseId = item.CourseId })">List of group for this course</a>
                </td>
            </tr>
        }
    </tbody>
</table>
